@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap");

body,
* {
	font-family: "Nunito Sans", sans-serif;
	padding: 0 0;
	margin: 0 0;
}
.portfolio-bg {
	background-image: url("/hero-section-bg.avif");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes erasing {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

.typing-animation {
	font-size: 25px;
	color: rgb(255, 171, 14);
	font-weight: 800;
	overflow: hidden;
	border-right: 2px solid #fff; /* Adjust the border color */
	white-space: nowrap;
	animation: typing 1s steps(20), erasing 1s steps(20) 2s; /* Adjust the animation duration and steps */
}
@media screen and (max-width: 768px) {
	.typing-animation {
		font-size: 15px;
	}
}
.outlet {
	height: 88.7vh;
	overflow-y: scroll;
}
.outlet::-webkit-scrollbar {
	display: none;
}
@media screen and (max-width: 1025px) {
	.outlet {
		height: 87vh;
	}
}
@keyframes animateSideways1 {
	0%,
	100% {
		transform: translateX(-15px);
	}
	50% {
		transform: translateX(0px);
	}
}
.animate-oneWay1 {
	animation: animateSideways1 2s ease-in-out infinite;
}
@keyframes animateSideways2 {
	0%,
	100% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
}
.animate-oneWay2 {
	animation: animateSideways2 2s ease-in-out infinite;
}
.overflow-x-scroll::-webkit-scrollbar {
	display: none !important;
}
@keyframes snakeAnimation1 {
	0%,
	100% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(15px);
	}
}
.animate-moveUpDown1 {
	animation: snakeAnimation1 4s ease-in-out infinite;
}

@keyframes snakeAnimation2 {
	0%,
	100% {
		transform: translateY(15px);
	}
	50% {
		transform: translateY(-15px);
	}
}
.animate-moveUpDown2 {
	animation: snakeAnimation2 4s ease-in-out infinite;
}

@keyframes snakeAnimation3 {
	0%,
	100% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(15px);
	}
}
.animate-moveUpDown3 {
	animation: snakeAnimation3 4s ease-in-out infinite;
}

@keyframes snakeAnimation4 {
	50% {
		transform: translateY(15px);
	}
	0%,
	100% {
		transform: translateY(-15px);
	}
}
.animate-moveUpDown4 {
	animation: snakeAnimation4 2s ease-in-out infinite;
}

.animate-moveUpDown1:hover,
.animate-moveUpDown2:hover,
.animate-moveUpDown3:hover,
.animate-moveUpDown4:hover {
	animation: none;
}
.gradient-bg {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid rgb(3, 202, 106);
	background: linear-gradient(to top, black, rgb(4, 52, 78), rgb(0, 122, 94));
}
@media screen and (min-width: 768px) {
	.small-device-menu-container {
		display: none;
	}
	.medium-device-menu-container {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	.gradient-links {
		background: linear-gradient(
			to top right,
			rgb(0, 57, 38),
			rgb(2, 203, 142),
			rgb(241, 7, 147)
		);
		padding: 5px 10px;
		color: white;
		font-weight: bold;
		border-radius: 9px;
	}
}
@media screen and (max-width: 768px) {
	.medium-device-menu-container {
		display: none;
	}
	.small-device-menu-container {
		display: block;
		position: absolute;
		right: 20px;
	}
	.absolute-container {
		position: absolute;
		right: 15px;
		top: 70px;
		border-radius: 9px;
		background-color: white;
		padding: 15px 20px;
		width: 180px;
		z-index: 10;
	}
}
