@keyframes snakeAnimation1 {
	0%,
	100% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(15px);
	}
}
.animate-moveUpDown1 {
	animation: snakeAnimation1 4s ease-in-out infinite;
}

@keyframes snakeAnimation2 {
	0%,
	100% {
		transform: translateY(15px);
	}
	50% {
		transform: translateY(-15px);
	}
}
.animate-moveUpDown2 {
	animation: snakeAnimation2 4s ease-in-out infinite;
}

@keyframes snakeAnimation3 {
	0%,
	100% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(15px);
	}
}
.animate-moveUpDown3 {
	animation: snakeAnimation3 4s ease-in-out infinite;
}

@keyframes snakeAnimation4 {
	50% {
		transform: translateY(15px);
	}
	0%,
	100% {
		transform: translateY(-15px);
	}
}
.animate-moveUpDown4 {
	animation: snakeAnimation4 2s ease-in-out infinite;
}

.animate-moveUpDown1:hover,
.animate-moveUpDown2:hover,
.animate-moveUpDown3:hover,
.animate-moveUpDown4:hover {
	animation: none;
}
.gradient-bg {
	background: linear-gradient(to top, black, rgb(4, 52, 78), rgb(0, 122, 94));
}
